#!/usr/bin/make -f

DIST_CODENAME=$(shell lsb_release -sc)
GIT_URL=https://git.fsinf.at/restauth/python.git
DH_ARGS='--with-quilt'

PYVERS=$(shell pyversions -sv)
ifeq "${DIST_CODENAME}" "lucid"
# lucid does not have a py3versions
PY3VERS=3.1
else
PY3VERS=$(shell py3versions -sv)
endif

prepare:
	dh_testdir
	git clone ${GIT_URL}
	sed -i "1s/(.*)/($$(cd python && python setup.py -q version)-1)/" debian/changelog
	tar czf ../python-restauth_$$(cd python && python setup.py -q version).orig.tar.gz python --xform=s/^python/$$(cd python && python setup.py -q version)/ --exclude=.git*
	rm -rf python
	
%:
	dh ${DH_ARGS} $@

build-python%:
	python$* setup.py build

build-docs:
	python setup.py build_doc
	rm doc/_build/html/_static/jquery.js

override_dh_auto_build: $(PYVERS:%=build-python%) build-docs
	dh_auto_build

override_dh_compress:
	# exclude .js and .css files
	dh_compress -X.js -X.css

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

install-python3%:
	python3$* setup.py install --force --root $(CURDIR)/debian/python3-restauth --no-compile -O0 --install-layout=deb
install-python2%:
	python2$* setup.py install --force --root $(CURDIR)/debian/python-restauth --no-compile -O0 --install-layout=deb

override_dh_auto_install: ${PYVERS:%=install-python%} ${PY3VERS:%=install-python%}
	dh_auto_install

